/*------------------common-------------------------*/

/*
-container
-overlay
-opacity hover 
-section header 
-section padding 
-hover effect one (ltr)
-hover effect two (ttb) 

color one : var(--maincolor)

*/

:root{
    --maincolor: #6195ff;
    --graycolor: #999 ;
    --bg-gray: #f9f9f9 ;
    --white-color: #f9f9f9;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(41, 41, 41, 0.7);
}

.hover-opacity{
    transition: opacity 0.5s;
}

.hover-opacity:hover{
    opacity: 0.85;
}

.clr{
    clear: both;
}

body,button{
    font-family: 'Varela Round', sans-serif;
}

h1, h2 , h3 , h4 , h5 , h6 {
    font-family: montserrat, sans-serif;
}

a{
    text-decoration: none;
}

.section-header{
    text-align: center;

}

.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
}

.section-header .section-line{
    display: block;
    height: 5px;
    width: 60px;
    margin:0 auto 70px auto;
    background-color:var(--maincolor);
}

.pd-y{
    padding: 120px 0;
}

.ltr-effect,
.ttp-effect {
    position: relative;

}

.ltr-effect::after,
.ttp-effect::after{
    position: absolute;
    content: "";
    background-color: #333;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.ltr-effect::after{
    width: 0;
    transition: width 0.5s;
}

.ttp-effect::after{
    height: 0px;
    transition: height 0.5s;
}

.ltr-effect:hover::after{
    width: 100%;
}

.ttp-effect:hover::after{
    height: 100%;
}

ul{
    list-style: none;
}

/*----------------------- header------------------  */

.header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}

.header .logo{
    width: 40%;
}

.header .logo img{
    width: 20%;
    margin-top: 13px;
}

.header .nav{
    width: 60%;
    float: right;
    list-style-type: none;
    text-align: right;
}

.header .nav > li{
    display: inline-block;
    text-align: center;
}

.header .nav > li > a{
    color: white;
    display: block;
    padding: 30px 12px;
    font-size: 15px;
}

.header .nav > li > a::after,
.header .nav > li > a.active::after{
    content: '';
    display: block;
    height: 3px;
    background-color: var(--maincolor);
    transition: 0.5s;
}

.header .nav > li > a::after{
    width: 0;
}

.header .nav > li > a.active::after{
    width: 100%;
}

.header .nav > li > a:hover::after{
    width: 100%;
}

.dropdown{
    position: relative;

}

.dropdown-menu{
    position: absolute;
    background-color:var(--maincolor) ;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.75s;
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a{
    color: white;
    display: block;
    padding: 10px;

}
/* end header section */

/* home section  */

.home{
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}

.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 65%;
}

.home .title{
    color: white;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.home .home-discrption{
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
}

.home .btn{
    min-width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

.home .btn-start{
    margin-right: 10px;
    background-color: var(--white-color);

}

.home .btn-learn{
    background-color: var(--maincolor);
    color: var(--white-color);
}

/* end home section  */

/* about section */

.about-content{
    overflow: hidden;

}

.about-item{
    width: 30%;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: 50px 20px;
}

.about-item .icone{
    color: var(--maincolor);
}

.about-item-title{
    text-transform: capitalize;
    transition: color 0.5s;
}

.about-item-describtion{
    line-height: 1.3;
    color: var(--graycolor);
}

.about-item-link{
    color:var(--maincolor) ;
    text-transform: capitalize;
}

.about-item:hover .about-item-title{
    color: white;
}

.about-item.mg{
    margin: 0 5%;
}

/* end about section  */

/* portfolio section  */

.portfolio{
    background-color:var(--bg-gray);
}

.portfolio-content{
overflow: hidden;
padding-left: 40px;
}

.portfolio-item{
    width: 30%;
    position: relative;
    padding: 20px;
}

.portfolio-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}

.layer-info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 80%;
    text-align: center;
}

.layer-content .category{
    color: var(--maincolor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    transition: top 0.25s, opacity 0.5s;
    visibility: hidden;
    transition-delay: 0s;
}

.layer-content-title{
    font-size: 20px;
    color: white;
    position: relative;
    top: 10px;
    transition: top 0.25s, opacity 0.5s;
    visibility: hidden;
    transition-delay: 0.05s;
}

.layer-content a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);
    color: white;
    position: relative;
    top: 10px;
    transition: top 0.25s, opacity 0.5s;
    visibility: hidden;
    transition-delay: 0.10s;
}

.layer-content a i{
    line-height: 40px;
}

.portfolio-item img{
    width: 100%;
}

.portfolio-item.mg{
    margin: 0 2.5%;
}

.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a{
    top: 0;
    visibility: visible;
}

/* end of porfolio section  */

/* offer section  */
.offer{

}

.offer-content{
    overflow: hidden;
}

.offer-item{
    width: 30%;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px ;
    position: relative;
}

.offer-item .icon{
    position: absolute;
    top: 30px;
    left: 15px;
    color: var(--maincolor);
}

.offer-item.mg{
    margin: 0 5%;
}

.offer-item-title{
    text-transform: capitalize;
    transition: color 0.5s;
}

.offer-item-desc{
    text-transform: capitalize;
    line-height: 1.6;
    color: var(--graycolor);
}

.offer-item:hover .offer-item-title{
    color: white;
}

/* end of offer section  */

/* service section  */
.service{
    background-color: var(--bg-gray);
}

.service-item{
    width: 50%;
}

.service-item .section-header{
    text-align: left;
}

.service-item .section-header .section-line{
    margin: 0 0 50px 0;
}

.service-item-desc{
    color: var(--graycolor);
    line-height: 1.5;
    font-size:17px;
}

.service-list{
    list-style: none;
}

.service-list li i{
    border: 1px solid var(--maincolor);
    border-radius: 50%;
    color: var(--maincolor);
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-right: 10px;
}

.service-list li{
    color: #555;
}

.service-item-img img{
    width: 100%;
}

.service-bollets{
    list-style-type: none;
    text-align: center;
}

.service-bollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
    transition: width 0.25s;
}

.service-bollets li.active{
    background-color: var(--maincolor);
}

.service-bollets li:hover{
    background-color: var(--maincolor);
    width: 15px;
    border-radius: 38%;
}

/* end of service section  */

/* numbers section  */

.numbers{
    position: relative;
    background-image: url(../images/background/background2.webp);
    height: 290px;
    background-size: cover;
    background-attachment: fixed;
}

.numbers-items{
    overflow: hidden;
    padding: 100px 0;
}

.number-itme{
    width: 25%;
    text-align: center;
}

.number-itme .icon{
    color: var(--maincolor);
}

.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.number-item-text{
    color: white;
}

/* end of numbers section  */

/* pricing section  */

.pricing{

}

.pricing-plans{
    overflow: hidden;
}

.pricing-item{
    width: 30%;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.pricing-item.mg{
    margin: 0 5%;
}

.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: var(--graycolor);
}

.pricing-item-permonth{
    width: 120px;
    height: 120px;
    padding: 25px 0px;
    margin: 20px auto;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
}

.pricing-item-permonth .dollar{
    font-size: 40px;
}

.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.pricing-list{
    list-style: none;
}

.pricing-list li{
    color: var(--graycolor);
    line-height: 2;
}

.pricing-item-purchase{
    background: none;
    border: none;
    display: block;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    padding: 10px 25px;
    margin: 15px auto 0 auto;
    font-size: 16px;
}

.pricing-item:hover .pricing-item-permonth{
    color: white;
}

.pricing-item:hover .pricing-item-text{
    color: var(--maincolor);
}

.pricing-item-permonth,
.pricing-item-text {
    transition: color 0.5s;
}

/* end of pricing section  */

/* testimonail section  */

.testimonail{
    position: relative;
    height: 400px;
    background-image: url(../images/background/background3.webp);
    background-size: cover;
    background-attachment: fixed;
}

.testimonail-content{
    overflow: hidden;
    padding: 130px 80px 100px ;
}

.testimonail-item{
    width: 45%;
    color: white;
    margin: 0px 20px;
}

.testimonail-item .testimonail-layer{
    padding: 10px 2px 30px 90px;
    position: relative;
}

.testimonail-item .testimonail-layer img{
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.testimonail-item .testimonail-layer h3{
    margin-bottom: 10px;
}

.testimonail-item .testimonail-layer span{
    color: var(--maincolor);
}

.testimonail-item .testimonail-desc{
    line-height: 1.5;
    font-size: 16px;
}
/* end of testimonail section  */

/* team section  */

.team-content{
    overflow: hidden;
}

.team-item{
    width: 30%;
    background-color: #e8e8e8;
    padding: 30px 10px;
    text-align: center;
}

.team-item.mg{
    margin: 0 5%;
}

.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}

.team-item .team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    color: white;
    background: var(--maincolor);
    margin-left:auto ;
}

.team-overlay a i{
    line-height: 40px;
}

.team-item .team-img img{
    width: 100%;
}

.team-item-title{
    color: #222;
    text-transform: capitalize;
    margin: 10px 0;
    transition: color 0.5s;
}

.team-item-text{
    color: var(--graycolor);
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.5s;
}

.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}

.team-item.ttp-effect{
    z-index: 1;
}

.team-item:hover .team-item-title{
    color: white;
}

.team-item:hover .team-item-text{
    color: var(--maincolor);
}
/* end of team section  */

/* blog section  */
.blog{
    background-color: #f8f8f8;
}

.blog-content{
    overflow: hidden;
}

.blog-item{
    width: 30%;
    background-color: white;
}

.blog-item-img img{
    width: 100%;
}

.blog-list{
    list-style: none;
    margin: 10px 0;
}

.blog-list li{
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
}

.blog-list li i{
    color: var(--maincolor);
}

.blog-info{
    padding: 20px;
}

.blog-title{
    font-weight: bold;
    margin: 20px 0;
}

.blog-desc{
    color: var(--graycolor);
    line-height: 1.4;
}

.blog-link{
    color:var(--maincolor);

}

.blog-item.mg{
    margin: 0 5%;
}

/* end of blog section  */

/* form section  */

.contact-info{
    overflow: hidden;
}

.info-item{
    width: 30%;
    text-align: center;
}

.info-item i{
    color: var(--maincolor);
    margin: 5px 0 20px;
    font-size: 25px;
}

.info-item .info-item-title{
    text-transform: capitalize;
}

.info-item .info-item-desc{
    color: var(--graycolor);
}

.info-item.mg{
    margin: 0 5%;
}

.contact-inputs{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.contact-inputs .one,
.contact-inputs .two{

    border: none;
    background-color: rgb(238, 236, 236);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 3px;
}

::placeholder{
    color: var(--graycolor);
}

.contact-inputs .one{

    width: 49%;
    float: left;
}

.contact-inputs .sp{
    margin-right: 2%;
}

.contact-inputs .two{
    width: 100%;
}   

.inputs-btn{
    padding: 12px 25px;
    display: block;
    margin: auto;
    margin-top: 5px;
    border: none;
    color: rgb(241, 241, 241);
    background-color: var(--maincolor);
    border-radius: 3%;
}

/* end of form section  */

/* footer section  */

.footer{
    background-color: #1c1d21;
    text-align: center;
    padding: 60px 0;
}

.footer-links{
    list-style: none;

}

.footer-links li{
    display: inline-block;
    margin: 50px 0;
}

.footer-links li a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--maincolor);
    color: white;
    margin: 0 5px;
    border-radius: 50%;
}

.footer-links li a i{
    line-height: 50px;
}

.footer .copyright{
    color: var(--graycolor);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.4;
}

.footer .copyright span{
    color: var(--maincolor);
}
/* end of footer section  */